<h1>Listing services</h1>

<table>
  <thead>
    <tr>
      <th>Start coordinates</th>
      <th>End coordinates</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Estimated cost</th>
      <th>Actual cost</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.start_latitude %>, <%= service.start_longitude %></td>
        <td><%= service.end_latitude %>, <%= service.end_longitude %></td>
        <td><%= service.start_time %></td>
        <td><%= service.end_time %></td>
        <td><%= service.estimated_cost %></td>
        <td><%= service.actual_cost %></td>
        <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service', new_service_path %>
