<p id="notice"><%= notice %></p>

<p>
  <strong>Permission type:</strong>
  <%= @static_permission.permission_type %>
</p>

<p>
  <strong>Target:</strong>
  <%= @static_permission.target %>
</p>

<%= link_to 'Edit', edit_static_permission_path(@static_permission) %> |
<%= link_to 'Back', static_permissions_path %>
