<%= form_for(@permit) do |f| %>
  <% if @permit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@permit.errors.count, "error") %> prohibited this permit from being saved:</h2>

      <ul>
      <% @permit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :permit_number %><br>
    <%= f.text_field :permit_number %>
  </div>
  <div class="field">
    <%= f.label :permit_expiration_date %><br>
    <%= f.text_field :permit_expiration_date %>
  </div>
  <div class="field">
    <%= f.label :training_completion_date %><br>
    <%= f.text_field :training_completion_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :valid %><br>
    <%= f.text_field :valid %>
  </div>
  <div class="field">
    <%= f.label :beacon_id %><br>
    <%= f.text_field :beacon_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
