<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @vehicle.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @vehicle.model %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<p>
  <strong>Year:</strong>
  <%= @vehicle.year %>
</p>

<p>
  <strong>Inspection date:</strong>
  <%= @vehicle.inspection_date %>
</p>

<p>
  <strong>License plate:</strong>
  <%= @vehicle.license_plate %>
</p>

<%= link_to 'Back', vehicles_path %>
