<div class="col-lg-4">
    <div class="panel panel-info">
        <div class="panel-heading">
            <%= user.email %>
        </div>
        <div class="panel-body">
            <!-- What do they actually want to see? TODO -->
            <table class="table">
                <tbody>
                    <tr>
                        <td>Created On</td>
                        <td><%= user.created_at %></td>
                    </tr>
                    <tr>
                        <td>Last Sign in</td>
                        <td><%= user.last_sign_in_at %></td>
                    </tr>
                    <tr> <!-- Permissions TODO-->
                        <td><b>Permissions</b></td>
                        <% permissions_by_target = {} %>
                        <% @permissions.each do |permission| %>
                            <% if permissions_by_target[permission.target].nil? %>
                                <% permissions_by_target[permission.target] = [] %>
                            <% end %>
                            <% permissions_by_target[permission.target] << permission %>
                        <% end %>

                        <td>
                        <% permissions_by_target.each do |key, value| %>
                            <%= key.pluralize.gsub('_', ' ').capitalize %>:
                                <% value.each do |permission| %>
                                    <% label_style = "label-default" %>
                                    <% label_text = permission.action.gsub('_', ' ').capitalize %>
                                    <% if user.user_permissions.include? permission %>
                                        <% label_style = "label-info" %>
                                    <% end %>
                                    <span class="label <%= label_style %>"><%= label_text %></span>
                                <% end %>
                                <br/>

                            <% end %>
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
        <div class="panel-footer clearfix">
            <div class="pull-right">
                <%= link_to "Edit", edit_manage_user_path(user.id), class: "btn btn-default" %>   
                <%= link_to 'Destroy', manage_user_path(user), id: "delete_user_" + user.id.to_s, 
                    method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
            </div>
        </div>
    </div>
</div>


