<%= render partial: "shared/title", locals: {title: @trusted_app.app_name, 
                                             subtitle: "Settings for #{@trusted_app.app_name}"} %>
<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>App name:</strong>
  <%= @trusted_app.app_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trusted_app.description %>
</p>

<%= link_to 'Edit', edit_manage_trusted_app_path(@trusted_app) %> |
<%= link_to 'Back', manage_trusted_apps_path %>
