<p id="notice"><%= notice %></p>

<p>
  <strong>App name:</strong>
  <%= @trusted_app.app_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trusted_app.description %>
</p>

<p>
  <strong>Sha hash:</strong>
  <%= @trusted_app.sha_hash %>
</p>

<%= link_to 'Edit', edit_manage_trusted_app_path(@trusted_app) %> |
<%= link_to 'Back', manage_trusted_apps_path %>
